@model Student

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* <div class="card mx-3" style=" width: 18rem;"> *@
@* 	<div class="card-body">

	</div> *@


<table class="table border-dark" style="border: 1px solid black;">
	<tbody>
	
		<tr>
			<th> Name : </th>
			<td> @Model.Name</td>
		</tr>
		<tr>
			<th>Email : </th>
			<td>@Model.Email</td>
		</tr>
		<tr>
			<th> Phone : </th>
			<td>@Model.Phone</td>
		</tr>

	</tbody>
</table>
	

@* </div> *@