@{
    ViewData["Title"] = "Rules Of Hostel";
}
<h1>@ViewData["Title"]</h1>

<h2>1. Regarding Check In</h2>
<ul class="col-6">
    <li>First of all, Student Have to Approach the Admin of Hostel</li>
    <li>Admin verify all details of the student and Create account of the student.</li>
    <li>At time of creation of an account admin assign the room (Choice of student or availability)to that student and give the password of the account to that student.</li>
    <li>After that Student can login in the account using that password and show all detail of assigned room.</li>
    <li>Student can change password if he wants.</li>
</ul>

<h2>2. Regarding Check Out</h2>
<ul class="col-6">
    <li>If student want to leave the hostel than he have to contact admin for that.</li>
</ul>


